node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# .env
.env.local
.env.development
.env.test
.env.production

dist/
api/
*.tsbuildinfo

.puppeteer_cache/
*.png
screenshot-*.png

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
temp/
tmp/

.cache/


*.zip
*.rar